            
.channelpfp{
    
}
.video-title{
    margin-top: 0px;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-grid{
    font-size: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px ;
    row-gap: 30px;
}
@media (max-width:586px){
    .video-grid{
        grid-template-columns: 1fr;
    }
}

@media (min-width:587px) and (max-width:750px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:751px) and (max-width:999px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width:1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.videoinfo{
    
}
.pfp{
    width: 36px ;
    border-radius: 50px;
} 
.thumbnail-row{
    margin-bottom :10px;
    position: relative;
    
}
.thumbnail{
    border-radius: 12px;
}
.video-creator,
.video-stats{
    color :  rgb(74, 74, 74);
    font-size: 13px;                
}
.video-creator{
    margin-bottom: 0px;
}
.video-stats{
    margin-top: 3px;
}

.video-time{
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    position: absolute;
    bottom: 6px;
    right: 5px;
    font-weight: 500;
    padding: 2px 4px;
    border-radius: 4px;
}
.thumbnail{
    width:100%;
}
